doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css", attr)
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        header.mean
            h1 Rijndael (AES)
        
        section.controls
            button#random-values(onclick="RandomValues()") Generar Valores aleatorios
        section.form
            form#inputs-form
                .message
                    h2 Mensaje
                    #inputs-message
                        input(type="text" id="m-0"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-1"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-2"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-3"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-4"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-5"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-6"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-7"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-8"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-9"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-10"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-11"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-12"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-13"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-14"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="m-15"  pattern="[0-9a-fA-F]{1,2}" required="true")
                .key
                    h2 Clave
                    #inputs-key
                        input(type="text" id="k-0"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-1"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-2"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-3"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-4"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-5"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-6"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-7"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-8"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-9"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-10"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-11"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-12"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-13"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-14"  pattern="[0-9a-fA-F]{1,2}" required="true")
                        input(type="text" id="k-15"  pattern="[0-9a-fA-F]{1,2}" required="true")
                
                button(type="submit" id="start")
                    i(class="fa fa-play-circle" aria-hidden="true")
        
        section#rijndael
            table(cellpadding="10px")
                thead
                    tr
                        th
                        th Star of round
                        th after SubBytes
                        th after ShiftRows
                        th after MixColumns
                        th
                        th Round key
                        th
                tbody#rijndael-results

        script(
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"
              )
        script(src="js/rows.js")
        script(src="js/rijndael.js")
        script(src="js/index.js")
